In [2]:
import pandas as pd
raw_data = pd.read_csv("../data/raw/2019-Oct.csv")

In [3]:
raw_data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [4]:
raw_data.isna().sum()

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13515609
brand             6117080
price                   0
user_id                 0
user_session            2
dtype: int64

In [5]:
percentage_missing_per_column = raw_data.isna().mean() * 100

print(percentage_missing_per_column)

event_time        0.000000
event_type        0.000000
product_id        0.000000
category_id       0.000000
category_code    31.839818
brand            14.410502
price             0.000000
user_id           0.000000
user_session      0.000005
dtype: float64

In [7]:
percentage_rows_with_any_na = (raw_data.isna().any(axis=1).mean()) * 100

print(percentage_rows_with_any_na)

37.42899086531707

In [10]:
# Group by category_id
grouped = raw_data.groupby('category_id')['category_code']

# Check if both NA and non-NA values exist for any group
result = grouped.apply(lambda x: x.isna().any() and x.notna().any()).any()

#Show the results (if any)
print(result)

False